
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(#141e30, #243b55);
}


header {
    background-color: #284c70;
    color: #FFFFFF;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #1C5F81;
}

main {
    padding: 20px;
}


@media (max-width: 600px) {
    nav ul {
        justify-content: center;
    }
}

#notifications {
    position: fixed;
    top: 15%;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    z-index: 5000;
}

.notification-err {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ff0000;
    background-color: rgba(217, 94, 94, 0.5);
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fadeOut 10s forwards;
    width: auto;
    max-width: 400px;
    overflow: hidden;
}

.notification-success {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #088508;
    background-color: rgba(107, 208, 107, 0.5);
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fadeOut 3s forwards;
    width: auto;
    max-width: 400px;
    overflow: hidden;
}


.notification-info {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #b6a708;
    background-color: rgba(200, 206, 91, 0.5);
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fadeOut 3s forwards;
    width: auto;
    max-width: 400px;
    overflow: hidden;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

