{% extends "base.html" %}

{% block title %} - Game List{% endblock %}

{% block content %}
    <h2>Game List</h2>

    {% if games %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Platforms</th>
                    <th>Genre</th>
                    <th>Global Rating</th>
                    <th>Cover</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td><a href="{% url 'game-detail' pk=game.id %}">{{ game.name }}</a></td>
                        <td>{{ game.platforms }}</td>
                        <td>{{ game.genre }}</td>
                        <td>{{ game.global_rating }}</td>
                        <td>{{ game.cover }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no games</p>
    {% endif %}


{% endblock %}